<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLO Object Detector</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="hero">

    <h1>🚀 YOLO Object Detector</h1>
    
    <p>
        Detect people, cars, phones, animals and 80+ objects
        instantly using YOLOv8 and Deep Learning.
    </p>

    <div class="upload-card">

        <form
            action="/predict"
            method="post"
            enctype="multipart/form-data">

            <input
                type="file"
                name="file"
                required>

            <button type="submit">
                Detect Objects
            </button>

        </form>

    </div>

</div>

<div class="features">

    <div class="feature-card">
        <h3>⚡ Fast Detection</h3>
        <p>
            Real-time object detection powered by YOLOv8.
        </p>
    </div>

    <div class="feature-card">
        <h3>🎯 Accurate Results</h3>
        <p>
            Detect multiple objects with confidence scores.
        </p>
    </div>

    <div class="feature-card">
        <h3>🧠 Deep Learning</h3>
        <p>
            Built using Computer Vision and Neural Networks.
        </p>
    </div>

</div>

<div class="footer">
    Built with FastAPI • YOLOv8 • Python
</div>

</body>
</html>